<%= error_messages_for :page, :header => false %>
<% form_for :page, @page, :url => (@page.new_record? ? admin_pages_path : admin_page_path(@page)), :html => {:method => (@page.new_record? ? :post : :put), :multipart => true} do |f| -%>
<div class="std_form">
  <ul>
    <%= f.ul_text_field :slug %>
    <%= f.ul_text_field :title %>
    <%= f.ul_textarea :body %>

    <%= f.ul_create_or_update_button(admin_pages_path, admin_pages_path) %>
  </ul>
</div>
<% end -%>