<% @page_title = "Admins" %>

<%= actions do %>
  <%= shared_paginator_for :administrators %>
  <div class="action">
    <%= link_to "Add a New Admin", new_admin_administrator_path, :class => "icon add_admin" %>
  </div>
<% end %>

<%= render :partial => "admin/shared/index_table", :locals => {:index => @index, :queue => @administrators } %>

<%= shared_paginator_for :administrators %>