<%= semantic_form_for [ :admin, @truck ] do |f| %>
  <%= f.inputs do %>
    <% [ :ne_lat, :ne_lng, :sw_lat, :sw_lng ].each do |dir| %>
      <%= f.input :"bounds_#{dir}", :as => :hidden %>
    <% end %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :state, :as => :select, :collection => { 'New York' => 'NY' } %>
    <%= f.input :source, :as => :select, :collection => {
      'Twitter' => 'Collector::Twitter',
      'Website' => 'Collector::Website'
    } %>
    <%= f.input :source_data, :hint => 'Twitter handle, Facebook username, etc.' %>
    <li id="truck_collection_bounding_area">
      <label>Bounding Area</label>
      <div id="theMap"></div>
      <input type="button" value="Set Bounds" />
    </li>
  <% end %>
  <%= f.buttons %>
<% end %>
