<% @page_title ||= "Sign In" %>

<% flash[:notice] = @signin_message unless flash[:alert] || flash[:error] || flash[:notice] %>
<div id="login">
  <h2><%= "#{active_admin_application.site_title} Login" %></h2>

  <%= form_for :session, :url => session_path do |f| %>
    <fieldset class="inputs">
      <ol>
        <li class="email required">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </li>
        <li class="password required">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit"><%= f.submit 'Login' %></li>
      </ol>
    </fieldset>
  <% end %>
  
  <span class="link_with_text">
    Forgot your password?
    <%= link_to 'Retrieve it &rarr;'.html_safe, forgot_password_path %>
  </span>
</div>
