<%#= content_tag(:p, @signin_message) if @signin_message %>

<ul class="std_form">

  <%= f.label :email, "Email Address" %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <li class="submit">
    <%= submit_tag 'Sign In', :class => "bn" %>
    <span> or <strong><%= link_to "Join &rarr;".html_safe, new_user_path %></strong></span>
  </li>

  <li class="password_recover">
    Forgot your password?
    <%= link_to 'Retrieve it &rarr;'.html_safe, forgot_password_path %>
  </li>
</ul>
