<% @page_title = "Forgot your password?" %>

<div id="login">
  <h2><%= @page_title %></h2>

  <%= form_for User.new, :url => forgot_password_path do |f| %>
    <fieldset class="inputs">
      <ol>
        <li class="email required">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li class="commit"><%= f.submit 'Retrieve Password' %></li>
      </ol>
    </fieldset>
  <% end %>  
</div>
