<% @page_title = "Contact Us" %>

<h2 class="header"><%= @page_title %></h2>

<fieldset class="page_content">
  <% form_for @contact_submission do |f| %>
    <p class="large_description">Have a question or some feedback about the site?</p>
    <div class="std_form">
      <ul>
        <%= f.ul_text_field :name,    :required => true %>
        <%= f.ul_text_field :email,   :required => true %>
        <%= f.ul_text_field :subject, :required => true %>
        <%= f.ul_text_area  :body,    :required => true, :text => "How can we help?" %>
        <li class="submit"><%= submit_tag "Send Message" %></li>
      </ul>
    </div>
  <% end %>
</fieldset>
