<% @page_title = "Contact Us" %>

<h2 class="header"><%= @page_title %></h2>

<p class="large_description">Have a question or some feedback about the site?</p>
<%= simple_form_for @contact_submission do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :subject %>
  <%= f.input :body %>
  <%= f.button :submit, :value => 'Send Message' %>
<% end %>
