<div class="std_form">
  <p>Fill this out and you're good to go.</p>
    <%= f.label :email "Email Address" %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  <p>You can rest easy – all info will remain private</p>
</div>
