<% @page_title = "Sign up now and make the good greater" %>

<h2 class="header"><%= @page_title %></h2>

<div id="signup_form" class="sign">
  <%= form_for :user, :url => users_path, :html => { :method => :post, :class => "formtastic" } do |f| -%>
    <%= render :partial => "sign_up", :locals => {:f => f} %>

    <p class="submit"><%= submit_tag 'Join', :class => "bn" %></p>
    <p class="create_account"> Have an account already? <%= link_to "Let's get to it &rarr;".html_safe, sign_in_path %></p>
  <% end %>
</div>
