<% @page_title = "Users"%>

<%# you must follow this markup for the admin to look right -%>

<%= actions do %>
  <%# pagination goes here if you have it -%>
  <%= shared_paginator_for :users %>
  <div class="action">
    <%= link_to "Add a New User", new_admin_user_path, :class => "icon add_user" %>
  </div>
<% end %>

<% content_for :search do %>
  <form id="dealer_search" method="get"><%= text_field_tag 'search', params[:search], :class => 'search' %><%= submit_tag "Search Users", :class => "bn" %></form>
<% end %>

<%# this is what a sub nav looks like -%>
<%# content_for :sub_nav do %>
  <%#= content_tag :li, (link_to "Subnav item 1", ""), :class => "active" %>
  <%#= content_tag :li, (link_to "Subnav item 2", "") %>
<%# end %>

<%= render :partial => "admin/shared/index_table", :locals => {:index => @index, :queue => @users } %>

<%= shared_paginator_for :users %>