<div class="pagination_nav">
  <%= content_tag :span, "Viewing #{paginator.offset + 1}-#{[paginator.total_entries, paginator.current_page * paginator.per_page].min} of #{paginator.total_entries}." %>
  <%= will_paginate paginator, :inner_window => 1 -%>
  <%= link_to_function "Go to Page &raquo", :class => "go_to_page" %>
  <div class="go_to_page" style="display: none">
    <% form_tag request.path, :method => :get do %>
      <div>
        <%#= label_tag "page", "Go to Page: " %>
        <%= text_field_tag "page", '', :size => 4 %>
        <%= hidden_field_tag "sort", @sort if @sort %>
        <%= submit_tag "Go" %>
      </div>
    <% end %>
  </div>
</div>
