<%= content_tag :h3, "Shortcuts" %>
<ul class="quick_add">
  <li><%= link_to "Add a New Page", new_admin_page_path, :class => "add_page" %></li>
  <li><%= link_to "Add a New User", new_admin_user_path, :class => "add_user" %></li>
</ul>

<h3><%= link_to "Textile Reference", "http://en.wikipedia.org/wiki/Textile_(markup_language)" %></h3>
<ul class="textile_instructions">
  <%= content_tag :li, "\"link text\":link_address" %> 
  <%= content_tag :li, "_emphasized_ (e.g., italics)"  %>
  <%= content_tag :li, "*strongly emphasized* (e.g., boldface)" %>
  <%= content_tag :li, "* An item in a bulleted (unordered) list"   %>
  <%= content_tag :li, "* Another item in a bulleted list"      %>
  <%= content_tag :li, "** Second Level"       %>
  <%= content_tag :li, "*** Third level"  %>
  <%= content_tag :li, "# An item in an enumerated (ordered) list"  %>
  <%= content_tag :li, "# Another item in an enumerated list     "  %>
  <%= content_tag :li, "## Another level in an enumerated list   "  %>
</ul>

