<h1><%= link_to 'FOO MANCHU', '/admin' %></h1>

<ul id="gns_01">
  <%= build_main_menu %>
</ul>

<ul id="gns_02">
  <li>Welcome back, <strong><%= current_user.username %></strong> |</li>
  <li><%= link_to 'Public Site', root_path %> |</li>
  <li><%= link_to 'Sign out', admin_session_path, :method => :delete %></li>
</ul>

<ul id="gns_03">
  <%= build_right_menu %>
</ul>