<%= link_to "home",       root_path,                   :title => "Return to the Home Page" %>&nbsp;/&nbsp;
<%= link_to "contact us", new_contact_submission_path, :title => "Contact Us" %>&nbsp;/&nbsp;

<% if logged_in? %>
  <%= link_to "log in", new_session_path, :title => "Log in" %>
<% else %>
  <%= link_to "log out", session_path, :method => :delete %>
<% end %>

<p class="copyright">&copy; <%= Time.now.year %> <%= link_to "Company Name", root_path, :title => "Company Name" %> / All Rights Reserved.</p>
