<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= company_name %><%= " &mdash; " + @page_title unless @page_title.blank? %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content=""/>
  <meta name="keywords" content="<%= company_name %>" />
  <meta name="author" content="<%= company_name %> www.<%= company_name %>.com" />
  <meta name="classification" content="" />
  <meta name="revisit-after" content="15 days" />
  <meta name="copyright" content="Copyright (c) <%= Time.now.year %> <%= company_name %>" />
  <meta name="distribution" content="global" />
  <meta name="language" content="en" />
  <meta name="robots" content="index,follow" />
  <meta name="generator" content="<%= company_name %>" />
  <meta name="rating" content="General" />
  <meta name="DC.title" content="<%= company_name %>" />
  <meta name="geo.position" content="lat / long" />
  <meta name="ICBM" content="lat / long" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/images/icon_apple_public.png" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag "reset-fonts", "base", "nyroModal", "public", :cache => true -%>
  <!--[if IE]>
    <%#= stylesheet_link_tag 'public_ie' %>
  <![endif]-->
  <!--[if IE 7]>
    <%#= stylesheet_link_tag 'public_ie7' %>
  <![endif]-->
  <!--[if lt IE 7]>
    <%#= stylesheet_link_tag 'public_ie6' %>
  <![endif]-->
  <%= yield :head -%>
</head>

<% sidebar = yield(:sidebar) %>

<%= body_tag(sidebar) %>
  <%= content_tag(:div, "Staging Server", :id => "staging") if staging? %>
  <div id="header">
    <div class="wrapper">
      <p><%= link_to company_name, root_path, :rel => "#{company_name} home page", :title => company_name %></p>
      <%= render :partial => "layouts/nav" %>
      <%#= render :partial => "shared/search" %>
    </div>
  </div>

  <div id="wrapper">
    <%= flash_messages(:error, :notice) -%>
    <% if page_top = yield(:page_top) -%>
      <div id="page_top">
        <%= page_top -%>
      </div>
    <% end %>
    <div id="content_wrap">
      <div id="page_content">
        <div id="inner">
          <%= yield %>
        </div>
      </div>
      <% if sidebar -%>
      <ul id="sidebar">
        <%= sidebar -%>
      </ul>
      <% end -%>
    </div>
  </div>

  <div id="footer">
    <div class="wrapper">
     <%= render :partial => "layouts/footer" %>
    </div>
  </div>
  <%= render :partial => "layouts/js_includes" -%>
  <%= yield :bottom %>
  <%= git_version_html %>
</body>
</html>

