<!DOCTYPE html>
<html lang="en">
<head>
  <title><% unless @page_title.blank? %><%= @page_title %> &mdash; <% end %><%= company_name %></title>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content=""/>
  <meta name="keywords" content="<%= company_name %>" />
  <meta name="author" content="<%= company_name %> www.<%= company_name %>.me" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= yield :head -%>
</head>

<%= body_tag %>

<%= yield %>
<%= yield :bottom %>

<%= git_version_html %>

<%= javascript_include_tag "application" %>

</body>
</html>